<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mumbler</title>
  <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

  <div class="headbar">
    <h1>mumbler</h1>
    <ul>
      <li><a href="/mumbles">Home</a></li>
      <li><a href="/mumble/new">New Mumble</a></li>
    </ul>
  </div>

  <%= yield %>


</body>
</html>
