<h1>Create a new Mumble</h1>

<ul class="new-file">
  <form method="post" action="/mumbles">

    <li><label><p>Text:</p>
      <input type="text" name="text" required>
    </label></li>

    <li><label><p>Image:</p>
      <input type="url" name="image" value="http://images5.fanpop.com/image/photos/28600000/puppy-wallpaper-dancing-little-animals-28654684-1280-1024.jpg">
    </label></li>

    <li><label><p>Date:</p>
      <input type="date" name="date" value="2015-01-11">
    </label></li>

    <li><label><p>Tags:</p>
      <input type="text" name="tags" value="sad puppy">
    </label></li>

    <li><label><p>Author Email:</p>
      <input type="text" name="author_email" required>
    </label></li>

    <li><label><p>Author Handle:</p>
      <input type="text" name="author_handle"  value="anonymous">
    </label></li>

    <li><label><p>Author Thumbnail:</p>
      <input type="url" name="author_thumbnail" value="http://writeortakeanap.files.wordpress.com/2012/10/puppy.jpg">
    </label></li>

    <li><input type="submit" name="Add Mumble"></li>
  </form>
</ul>
